a.btn, .socials a {
	behavior: url(js/PIE.htc);
	position: relative;
}


.socials a {
	margin-left: 0 !important;
	margin-right: 8px !important;
}



#form .invalid .error-message, 
#form .empty .empty-message {
	display: block;

}

#form .error-message, 
#form .empty-message {
	display: none;
}


a.gal:hover img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}


a.various:hover span {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);

}
