@import "grid.css";
@import "font-awesome.css";
@import "superfish.css";

@import url(//fonts.googleapis.com/css?family=Audiowide);
@import url(//fonts.googleapis.com/css?family=Montserrat:400);
@import url(//fonts.googleapis.com/css?family=Montserrat:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:600);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);

html {
    width: 100%;

}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}

* {
    -webkit-text-size-adjust: none;
}

body {
    position: relative;
    background-color: #fff;
    text-transform: uppercase;
    color: #7d7d7d;
    font: 12px/22px 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

strong {
    font-weight: 700;
}

address {
    font-style: normal;
}

p {
    margin-bottom: 22px;
}


input {
    border-radius: 0 !important;
    outline: none !important;
}


img {
    max-width: 100%;
}



/****Heads****/


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 24px;
    line-height: 26px;
    color: #393939;
    padding-top: 66px;
    padding-bottom: 27px;
    margin-bottom: 26px;
    border-bottom: 5px solid #e8e8e8;
}

.page1 h2 {
    padding-top: 37px;
    margin-bottom: 30px;
}

/****Lists****/


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.list {
    margin-top: -3px;
}

ul.list li a {
    display: block;
    border-left: 3px solid #cdcdcd;
    background-color: #fff;
    padding: 7px 16px 9px;
    font: 600 14px/20px 'Open Sans', sans-serif;
}


ul.list li a:hover {
    border-color: #9ad8f6;
    background-color: #4c8eae;
    color: #fff;
}

ul.list li+li {
    margin-top: 3px;
}

/****Links****/


a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

a:hover {
    color: #d02525;
}

a.info {
    color: #fff;
    margin-top: 36px;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 20px;
    background: url(../images/info.png) 0 2px no-repeat;
    font: bold 14px/13px 'Open Sans', sans-serif;
}

a.info:hover {
    color: #86d5fa;
}

a.btn {
    font: 600 16px/16px 'Open Sans', sans-serif;    
    text-transform: none;
    padding-left: 19px;
    color: #2f2f2f;
    margin-top: 26px;
    display: inline-block;
    background: url(../images/btn_marker.png) 0 5px no-repeat;
}

a.btn:hover {
    color: #4c8eae;
    background-image: url(../images/info.png);
}

/****classes****/

.mb0 {
    margin-bottom: 0px !important;
}
.m0 {
    margin: 0 !important;
}
.pad0 {
    padding: 0 !important;
}

.pad1 {
}


.img_inner {
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 23px;
}



.fleft {
    float: left;
    width: auto !important;
    margin-right: 23px;
    margin-bottom: 0px;
}


.oh {
    overflow: hidden;
}
.fright {
    float: right !important;
}
.upp {
    text-transform: uppercase;
}

.alright {
    text-align: right;
}
.center {
    text-align: center;
}
.wrapper, .extra_wrapper {
    overflow: hidden;
}
.clear {
    float: none !important;
    clear: both;
}

.oh {
    overflow: hidden;
}

.nowrap {
    white-space: nowrap;
}
/*header*/

header {
    position: relative;
    display: block;
    background: url(../images/slide.jpg) center 0 no-repeat;
   
}

#stuck_container {
    padding: 38px 0 39px;
    background: url(../images/header_over.png) 0 0 repeat;
}

.page1 header {
    background: none;
    margin-top: -134px;
}

header h1 {
    position: relative;
    text-align: center;
    float: left;
    z-index: 999;
}


header h1 a {
    display: inline-block;
    overflow: hidden;
    width: 351px;
    height: 57px;
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}
header h1 a img {
    display: block;
}

.page1_block {
    padding-bottom: 68px;
    padding-top: 90px;
    background: url(../images/page1_block.png) 0 bottom repeat-x #4d90af;
}

.block1 {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
}

.block1 .title {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 21px;
    font: 45px/48px 'Audiowide', cursive;
}

.block1 .title span {
    padding-top: 9px;
    display: block;
    color: #88d3f7;
    text-transform: none;
    font: 30px/36px 'Open Sans', sans-serif;
}

.block2 {
    padding-right: 30px;
    font-size: 14px;
    padding-top: 7px;
    color: #88d3f7;
    text-transform: uppercase;
}

.block2 +.block2  {
    margin-top: 50px;
}

.block2 +.block2   .title {
    margin-bottom: 17px;
}

.block2 .title {
    margin-bottom: 20px;
    color: #fff;
    font: 24px/23px 'Montserrat', sans-serif;
}

.block2  .count {
    margin-bottom: 20px;
    margin-right: 18px;
    width: 80px;
    text-align: center;
    float: left;
    font: 72px/57px 'Montserrat', sans-serif;
}


.page1_block .alright {
    margin-top: 51px;
    border-top: 5px solid #5997be;
}

.page1_block .alright a.info {
    margin-top: 30px;
    padding-bottom: 2px;
    text-transform: none;
    font-size: 18px;
    margin-right: 6px;
    background-position: 0 4px;
}

.slogan {
    color: #9b9b9b;
    padding-bottom: 31px;
    padding-top: 48px;
    font-size: 15px;
    line-height: 25px;
}

.slogan img {
    margin-right: 53px;
    float: left;
}

.slogan a {
    -webkit-background-size: auto 200% !important;
    -moz-background-size: auto 200% !important;
    -ms-background-size: auto 200% !important;
    -o-background-size: auto 200% !important;
    background-size: auto 200% !important;
    display: inline-block;
    text-transform: none;
    color: #fff;
    margin-top: 16px;
    padding: 5px 28px 7px;
    border-radius: 20px;
    background: url(../images/slogan_link.png) 0 0 repeat-x;
    font: 14px/30px 'Montserrat', sans-serif;
}

.slogan a:hover {
    background-position: 0 bottom;
}

.slogan .title {
    margin-bottom: 21px;
    padding-top: 14px;
    font: 40px/30px 'Montserrat', sans-serif;
}

/**Content**/
.content {
    background-color: #f3f3f3;
    padding-bottom: 43px;
}

.page1 .content {
    padding-bottom: 59px;
}

.hor {
    padding-top: 38px;
    border-bottom: 5px solid #e8e8e8;
}

.page1 h2.head1 {
    padding-bottom: 0;
    border-bottom: 0;
    padding-top: 58px;   
}

.text1 {
    font: 600 14px/20px 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 13px;
}

ul.list+a.btn {
    margin-top: 20px;
}

.add1 {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 25px;
    padding-top: 52px;
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
}

.add1 img {
    margin-bottom: 22px;
    display: block;
}

.add1 a {
    display: inline-block;
    margin-top: 10px;
}

a.book {
    margin-top: 16px;
    background: url(../images/book.png) 0 2px no-repeat;
    font-size: 18px;
    padding-bottom: 2px;
    display: inline-block;
    padding-left: 34px;
    text-transform: none;
}

a.gal {
    display: block;
    background: url(../images/magnify.png) center center no-repeat #222;
}

a.gal img {
    width: 100%;
    box-shadow: 0 0 0 #fff;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

a.gal:hover img {
    opacity: 0.4;
}



.news {
    overflow: hidden;
}

.news .text1 time {
    display: block;
}

.news  a.btn {
    margin-top: 17px;
}

.news+.news {
    margin-top: 24px;
}

.head2 {
    border-bottom: 0;
    margin-bottom: 3px;
}

.l1 li {
    margin-top: 0;
    text-transform: none;
}

.l1 li  a {
    padding-top: 8px !important;
    padding-bottom: 11px !important;
    padding-right: 10px;
}

a.bt1 {
    margin-top: 22px;
}

.hor1 {
    padding-top: 48px;
}

.hor1+h2 {
    padding-top: 48px;
}

a.various {
    margin-top: 4px;
    margin-bottom: 25px;
    position: relative;
    display: block;
}

a.various  img {
    width: 100%;
    position: relative;
    z-index: 1;
}

a.various span {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    position: absolute;
    display: block;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/video_magn.png) center center no-repeat;
}

a.various:hover span {
    opacity: 0.5;
}

.cl1 {
    height: 24px;
}

.blog {
    padding-top: 1px;
    overflow: hidden;
}

.blog .clear {
    height: 26px;
}

.blog .fleft {
    margin-right: 20px;
}

.blog+.blog {
    margin-top: 26px;
}

.blog a.btn {
    margin-top: 17px;
}

.blog .text1 {
    padding-top: 7px;
    margin-bottom: 8px;
}

.blog  time {
    padding-left: 17px;
    padding-top: 20px;
    position: relative;
    top: 3px;
    padding-bottom: 6px;
    font-weight: 600;
    margin-right: 18px;
    color: #393939;
    font: 600 12px/20px 'Open Sans', sans-serif;
    display: block;
    background-color: #fff;
    float: left;
    width: 58px;
    border-left: 3px solid #cdcdcd;
}

.blog time .col2 {
    font-size: 36px;
    margin-bottom: 9px;
    display: block;
}

.prv h2 {
    margin-bottom: 23px;
}

/**Map**/

.col1 {
    color: #d02525;
}

.col1 a:hover, a.col1:hover {
    color: #4886a8;
}

.col2 {
    color: #4886a8;
}

.col3 {
    color: #4c8eae;
}

.col3 a:hover, a.col3:hover {
    color: #000;
}

.col4 {
    color: #393939;
}

.map {
    overflow: hidden;
    position: relative;
}
 
.map figure {
    padding-top: 4px;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 26px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}


.map figure iframe {
    width: 100%;
    height: 393px;
    max-width: 100%;
}
.map address {
    padding-top: 21px;
    display: block;
}

.map address dt {
    text-transform: uppercase;
    color: #393939;
    margin-bottom: 22px;

}

 address dd span {
    min-width: 75px;
    display: inline-block;
    text-align: left;
}

.map address dd span.col1 {
    min-width: 0;
}

/**Footer**/

footer {
    display: block;
    text-transform: uppercase;
}

.f_top {
    padding-top: 61px;
    overflow: hidden;
    padding-bottom: 42px;
    border-top: 1px solid #ebebeb;
}

.f_menu {
    padding-left: 4px;
}

.f_menu li {
    float: left;
    color: #4886a8;
    font: 16px/16px 'Montserrat', sans-serif;
}

.f_menu li +li {
    margin-left: 42px;
}

.f_menu li.current,
.f_menu li a:hover {
    color: #222222;
}

.f_top  .fright {
    font-size: 14px;
    margin-top: -20px;
    min-width: 226px;
    margin-right: 65px;
    text-transform: none;
}



.f_top .title {
    font: 21px/24px 'Montserrat', sans-serif;
    color: #464646;
    margin-bottom: 4px;
    text-transform: none;
}

.socials {
    overflow: hidden;
    float: right;
    margin-right: 30px;
    margin-top: -13px;
}

.socials a {
    display: block;
    float: left;
    width: 31px;
    height: 31px;
    color: #eaeaea;
    font-size: 20px;
    border-radius: 500px;
    line-height: 31px;
    text-align: center;
    border: 2px solid #eaeaea;
}

.socials a:hover {
    color: #000;
    border-color: #000;
}

.socials a+a {
    font-size: 16px;
    margin-left: 4px;
}

.socials a+a+a+a {
    font-size: 19px;
}


.copy {
    letter-spacing: 1px;
    padding: 21px 0px 30px;
    font: 14px/36px  'Montserrat', sans-serif;
    color: #525252;
    border-top: 1px solid #ebebeb;
}

.copy strong {
    position: relative;
    top: -1px;
    font-weight: normal;
    color: #71acc9;
}

.copy a:hover {
    color: #4c8eae;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 51%;
    margin-left: 640px;
    overflow: hidden;
    width: 42px;
    height: 42px;
    border: none;
    text-indent: -999px;
    z-index: 20;
    background: url(../images/totop.png) no-repeat left 0;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}
#toTop:hover {
    outline: none;
    background-position: right 0;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1199px) {
    
.map figure {
    width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 30px;
}

    .extra_wrapper {
        overflow: visible;
    }  

    .sf-menu>li+li {
        margin-left: 20px;
    }

    .camera_pag {
       margin-right: 0;
       right: 40px;
    }

    .block1 .title {
        font-size: 30px;
        line-height: 35px;
    }

    .f_top .fright {
        margin-right: 0;
    }

    .f_menu li + li {
        margin-left: 10px;
    }

    .blog .extra_wrapper {
        overflow: hidden;
    }  

}

@media only screen and (max-width: 979px) {

header h1 a {
    width: 270px;
}

.slogan .title {
    font-size: 28px;
}

.block2 .count {
    float: none;
}

.f_menu {
    display: none;
}

.socials {
    float: left;
}

 .map figure,  
 .map figure iframe,  
 #form input,  
 #form textarea,  
 #form .success {
    width: 100% !important;
    float: none !important;
}
 #form .success {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -o-box-sizing: border-box;
     box-sizing: border-box;
}
 .map figure {
 height: auto !important;
}


.map figure {
	margin-bottom: 15px;
}

.nowrap {
    white-space: normal;
}

header h1 {
    margin-left: 0;
}

header:before,
header:after {
    left: 5px;
    right: 5px;
}

.cnt1 .fleft {
    width: 100% !important;
    margin-bottom: 20px;
    margin-right: 0 !important;
}

}

@media only screen and (max-width: 767px) {


.cl1 {
    height: 0;
}

a.various {
    margin-top: 35px;
}

.map address {
    float: none;
    margin-left: 0 !important;
 }

.map address +address {
    margin-top: 30px;
}

.page1 header {
    margin-top: -122px;
}


#stuck_container {
    padding: 10px 0 14px;
}

.block2 {
    margin-top: 50px;
}

a.gal {
    margin-bottom: 35px;
}


.f_top .fright {
    float: none !important;
    margin-bottom: 25px;
}

.socials {
    float: none;
}

header h1 {
	display: block;
	width: auto;
    margin-left: 0;
    position: relative;
	height: auto;
}

.img_inner {
width: 100% !important;
float: none !important;
margin-right: 0 !important;
margin-bottom: 20px !important;
}

h1 a {
	max-width: 90%;
}


.img_inner img {
	width: 100%;
}


 header h1 {
 margin-bottom: 20px;
 padding-bottom: 0;
 float: none;
 left: 0;
 text-align: center;
}
 header h1 a {
 	width: auto;
 	display: inline-block;
 height: auto;
}
 header h1 a img {
}

 .map {
 	padding-right: 0px !important;
 }

 .map figure iframe {
 width: 100%;
 height: 300px;
}
 .map address {
 	margin-right: 0;
}


 .content .noresize {
 width: auto !important;
 float: left !important;
 margin-right: 20px !important;
 margin-top: 4px !important;
}

 .img_inner {
 margin-top: 30px;
}

.none {
    clear: both;
}

}

@media only screen and (max-width: 479px) {

.page1 header {
    margin-top: -104px;
}


}
